{
	frankenphp
	order go_handler before file_server
}

:8080

@go_paths path /ws /internal/broadcast

handle @go_paths {
	go_handler {
		broadcast_secret "a-very-strong-and-secret-key-for-broadcast"
		
		# allowed_origins http://localhost:8080 http://localhost:3000
		allowed_origins http://localhost:8080

		# driver redis
		# redis_address localhost:6379
		# auth_endpoint http://localhost:8080/auth.php
	}
}

php_server