{
	http_port {$SERVER_ADDRESS:8080}
    frankenphp
    order go_handler before file_server
}

{$SERVER_ADDRESS::8080}

handle /ws {
    go_handler {
        origins {$ALLOWED_ORIGINS:http://localhost:8080}
    }
}

php_server