{
	http_port {$SERVER_ADDRESS:8080}
    frankenphp
    order go_handler before file_server
}

{$SERVER_ADDRESS::8080}

@is_bad_origin {
    header Origin *
    not header Origin {$ALLOWED_ORIGINS:http://localhost:8080}
}

@go_paths path /ws /internal/broadcast

handle @go_paths {
    abort @is_bad_origin
    
    go_handler {
        driver redis
        redis_address localhost:6379
        # auth_endpoint http://localhost:8080/api/auth
    }
}

php_server