{
	http_port {$SERVER_ADDRESS:8080}
    frankenphp
    order go_handler before file_server
}

{$SERVER_ADDRESS::8080}

@not_allowed_origins {
    not header Origin {$ALLOWED_ORIGINS:http://localhost:8080}
}

handle /ws {
    abort @not_allowed_origins
    
    go_handler {
        driver redis
        redis_address localhost:6379
    }
}

php_server